
$primary:#AA0601;
$light:#FBF2F2;
$dark:#650300;
$white:#ffffff;
$black:#000000;

$bg-colours:(
    primary:$primary,
    light:$light,
    dark:$dark,
    white:$white,
    black:$black,
);

$font-colours:(
    primary:$primary,
    light:$light,
    dark:$dark,
    white:$white,
    black:$black,
)
