<header class="header">
    <div class="container">
        <a href="index.html"><img src="../assets/images/logo-white.png" alt="logo-white"></a>
        <nav>
            <ul>
                <li><a href="product.html">系列鏡框</a></li>
                <li><a href="shop.html">門市據點</a></li>
                <li><a href="blog.html">部落格</a></li>
                <li><a href="faq.html">常見問題</a></li>
            </ul>
        </nav>
    </div>
</header>