.banner{
  background: url(../assets/images/home-header.png) center/ cover;
  font-family: map-get(font.$font-families,Noto);
  max-width: 100%;
  height: auto;
  .container{
    padding: 0px 12px;
  }
  &-content{
    text-align: right;
    padding: 296px 0px;
  }
  h1{
    font-size: map-get(font.$font-size,fz-1);    
    line-height: 96px;
    color:map-get(var.$font-colours,dark);
    font-weight: bold;
    margin-bottom: 4px;
  }

  h3{
    font-size: map-get(font.$font-size,fz-3);
    line-height: 54px;
    color:map-get(var.$font-colours,dark);
  }
  a{
    display: inline-block;
    color:map-get(var.$font-colours,white);
    background-color: map-get(var.$bg-colours, primary);
    font-size: map-get(font.$font-size, fz-5);
    line-height: 30px;
    font-weight: 500;
    padding: 6px 12px;
  }
}
.about{
    font-family: map-get(font.$font-families,Noto);
    background-color: map-get(var.$bg-colours,light);
    .container{
        padding: 80px 12px;
    }
    h2{
        font-size: map-get(font.$font-size,fz-2);
        line-height: 72px;
        color:map-get(var.$font-colours,dark);
        font-weight: bold;
        text-align: center;
        margin-bottom: 24px;
    }
    h4{
        font-size: map-get(font.$font-size,fz-4);
        line-height: 36px;
        color:map-get(var.$font-colours,dark);
        font-weight: bold;
        margin: 16px 0px 8px 0px;
    }
    ul{
        display: flex;
        justify-content: space-between;
    }
    li{
        width: 25%;
        margin-right: 24px;
        text-align: center;
        &:last-child{
            margin-right: 0px;
        }
        img{
            width: 100px;
        }
        p{
            line-height: 24px;
            text-align: left;
        }
    }
}
.classic{
    .container{
        padding: 80px 12px;
    }
    h2,p{
        font-size: map-get(font.$font-size, fz-2);
        line-height: 72px;
        text-align: center;
        font-weight: bold;
    }
    h2{
        color:map-get(var.$font-colours,dark);
        font-family: map-get(font.$font-families, Noto);
        margin-bottom: 48px;
    }
    ul{
        display: flex;
        justify-content: space-between;
    }
    li{
        width: 33%;
        margin-right: 24px;
        &:last-child{
            margin-right: 0px;
        }
        p{
            color:map-get(var.$font-colours,primary);
            font-family: map-get(font.$font-families, Roboto);
            font-style: italic;
            margin-top: 8px;
        }     
    }
}
.brand{
    background: url(../assets/images/index-bg.png) center/ cover;
    text-align: center;
    .container{
        padding: 80px 12px;
    }
    h2,p{
        font-size: map-get(font.$font-size, fz-2);
        line-height: 72px;
        font-weight: bold;
    }
    h2{
        color: map-get(var.$font-colours,white);
        font-family: map-get(font.$font-families, Noto);
        margin-bottom: 48px;
    }
    ul{
        display: flex;
        justify-content: space-between;
    }
    li{
        width: 50%;
    }
    &-item1{
        background: url(../assets/images/home-section4-1.png) center/ cover;
        height: 240px;   
    }
    &-item2{
        background: url(../assets/images/home-section4-2.png) center/ cover;
        height: 240px;
    }
    p{
        color: map-get(var.$font-colours, primary);
        font-family: map-get(font.$font-families, Roboto);
        font-style: italic;
        background-color: map-get(var.$bg-colours, white);
    }
}
.recommend{
    font-family: map-get(font.$font-families, Noto);
    .container{
        padding: 80px 12px;
    }
    h2{
        font-size: map-get(font.$font-size,fz-2);
        text-align: center;
        margin-bottom: 48px;
        color: map-get(var.$font-colours,dark);
        font-weight: bold;
    }
    ul{
        display: flex;
        justify-content: space-between;
    }
    li{
        width: 25%;
        box-shadow: 0px 2px 6px #DEE2E6;
        border-radius: 4px;
        margin-right: 24px;
        &:last-child{
            margin-right: 0px;
        }
    }
    .customer{
        padding: 16px;
        &-name{
            margin-bottom: 8px;
            font-weight: 500;
            line-height: 24px;
        }
        &-text{
            height: 120px;
            line-height: 24px;
        }
        &-date{
            color: #707070;
            font-size: 14px;
            line-height: 21px;
        }
    }

}
.connection{
    font-family: map-get(font.$font-families, Noto);
    background-color: map-get(var.$bg-colours,light);
    padding: 80px 0px;
    text-align: center;
    h2{
        font-size: map-get(font.$font-size, fz-2);
        line-height: 72px;
        color: map-get(var.$font-colours, dark);
        font-weight: bold;
        margin-bottom: 48px;
    }
    form{
        max-width: 636px;
        margin: 0 auto;
    }
    p{
        font-size: map-get(font.$font-size, fz-5);
        line-height: 30px;
        text-align: left;
        display: inline-block;
        max-width: 636px;
        margin-bottom: 24px;
    }
    &-item{
        margin-bottom: 16px;
        label{
            display: block;
            text-align: left;
        }
        input{
            width: 100%;
            margin-top: 8px;
            height: 36px;
            background-color: map-get(var.$bg-colours, light);
        }
        textarea{
            width: 100%;
            margin-top: 8px;
            height: 136px;
            background-color: map-get(var.$bg-colours, light);
        }
    }
    &-box{
        width: 100%;
        text-align: left;
        display: flex;
        align-items: center;
        line-height: 24px;
        input[type="checkbox"] {
            width: 24px;
            height: 24px;
            margin-right: 8px;
            cursor: pointer;
        }
    }
    button[type="button"] {
        font-size: 16px;
        line-height: 24px;
        color: map-get(var.$font-colours, white);
        background-color: map-get(var.$bg-colours, primary);
        padding: 16px 176px;
        font-weight: bold;
        border: 0px;
        margin-top: 48px;
        cursor: pointer;
    }

}
@media (max-width: 992px) {
    .banner{
        background: url(../assets/images/home-header-sm.png) center/ cover;
        .container{
            padding: 0px 36px;
        }
    }
    .about{
        .container{
            padding: 80px 36px;
        }
        ul{
            flex-wrap: wrap;
        }
        li{
            width: 48%;
            margin-right: 0px;
        &:nth-child(odd){
            margin-right: 24px;
        }
        &:nth-child(1),&:nth-child(2){
            margin-bottom: 24px;
        }
        }
    }
    .classic{
        ul{
            flex-wrap: wrap;
        }
        li{
            width: 100%;
            margin-right: 0px;
            text-align: center;
            margin-bottom: 24px;
            &:last-child{
                margin-bottom: 0px;
            }
            img{
                width: 336px;
                height: 336px;
            }
        }
    }
    .brand{
        .container{
            padding: 80px 36px;
        }
        ul{
            flex-wrap: wrap;
        }
        li{
            width: 100%;
            &:first-child{
                margin-bottom: 24px;
            }
        }
    }
    .recommend{
        .container{
            padding: 80px 36px;
        }
        ul{
            flex-wrap: wrap;
        }
        li{
            width: 48%;
            margin-right: 0px;
            &:nth-child(odd){
                margin-right:24px;
            }
            &:first-child,&:nth-child(2){
                margin-bottom: 24px;
            }
        }
    }
    .connection{
        h2{
            margin-bottom: 24px;
        }
        p{
            font-size: map-get(font.$font-size,fz-6);
            line-height: 24px;
            max-width: 576px;
        }
        form{
            max-width: 576px;
        }
        button[type="button"] {
            padding: 16px 136px;
        }
    }
  };

@media (max-width: 768px) {
    .banner{
        .container{
            padding: 0px 12px;
        }
        h1{
            font-size: map-get(font.$font-size,fz-4);
            line-height: 36px;
        }
        h3{
            font-size: map-get(font.$font-size, fz-6);
            line-height: 24px;
        }
        &-content{
            text-align: right;
            padding: 144px 0px;
           }
    }
    .about{
        .container{
            padding: 40px 12px;
        }
        h2{
            font-size:map-get(font.$font-size,fz-4);
            line-height: 36px;
        }
        li{
            width: 100%;
            &:nth-child(odd){
                margin-right: 0px;
            }
            &:nth-child(3){
                margin-bottom: 24px;
            }
        }
    }
    .classic{
        .container{
            padding: 40px 12px;
        }
        h2{
            font-size: map-get(font.$font-size,fz-4);
            line-height: 36px;
            margin-bottom: 24px;
        }
        img{
          width: 348px;
          height: 348px;
        }
    }
    .brand{
        .container{
            padding: 40px 12px;
        }
        h2{
            font-size: map-get(font.$font-size, fz-4);
            line-height: 36px;
            margin-bottom: 24px;
        }
        li{
            @include mix.flex(column,flex-start,center);
        }
        &-item1{
            background: url(../assets/images/home-section4-1-sm.png) center/ cover;
        }
        &-item2{
            background: url(../assets/images/home-section4-2-sm.png) center/ cover;
        } 
        &-item1,&-item2{
            width: 348px;
            display: inline-block;
            vertical-align: middle;
        }
        p{
            width: 348px;
            display: inline-block;
        }
    }
    .recommend{
        .container{
            padding: 40px 36px;
        }
        ul{
            justify-content: center;
        }
        li{
            width: 85%;
            margin-bottom: 16px;
            &:nth-child(odd){
                margin-right: 0px;
            }
            &:last-child{
                margin-bottom: 0px;
            }
        }
    }
    .connection{
        padding: 40px 12px;
        h2{
            font-size: map-get(font.$font-size, fz-4);
            line-height: 36px;
        }
        p{
            max-width: 348px;
        }
        form{
            max-width: 348px;
        }
        &-box{
            align-items: flex-start;
        }
        button[type="button"] {
            padding: 16px 142px;
            margin-top: 24px;
        }
    }
};